@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .global-style {
    @apply bg-white  text-light-text-primary max-w-screen-xl mx-auto;
  }
  .section {
    @apply mx-auto py-16 px-4 sm:px-8 md:px-12 lg:px-16;
  }
}
#__next {
  min-height: 100%;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
